<!DOCTYPE html>
<html ng-app="maCodingClub">
  <head>
    <title>Massachusetts Coding Club</title>
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/bootstrap-theme.css">
      <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Home</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Trainings<b class="caret"></b></a>
          <ul class="dropdown-menu" ng-controller="CourseCtrl">
            <li class="dropdown-header ">Courses</li>
            <li ng-repeat="course in courses"><a href="#/course/{{ course.id }}">{{ course.name }}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left" ng-controller="MembersCtrl">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Members<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="member in members"><a href="#/member/{{ member.id }}" >{{ member.names.firstName }}  {{ member.names.lastName }}</a></li>
          </ul>
        </li>
        <li><a href="#/members">All members</a></li>
          <li><a  ng-click="inProgress()">Forum</a></li>
        <li><a ng-click="inProgress()"class="btn btn-default">Log in</a></li>
      </ul>
        <form class="navbar-form navbar-left">
          <input type="text" class="form-control col-lg-8" placeholder="Search" ng-model="search">
        </form>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Friends<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://softuni.bg">Software University</a></li>
              <li><a href="http://telerikacademy.com">Telerik Academy</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
    <div class="container" ng-view></div>


    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
  <script src="js/lib/jquery/dist/jquery.js"></script>
  <script src="js/lib/angular/angular.js"></script>
  <script src="js/lib/angular-route/angular-route.js"></script>
  <script src="js/lib/angular-resource/angular-resource.js"></script>
  <script src="js/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="js/lib/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="js/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/coursesData.js"></script>
  <script src="js/services/membersData.js"></script>
  <script src="js/services/createRange.js"></script>
  <script src="js/controllers/MainCtrl.js"></script>
  <script src="js/controllers/CoursesCtrl.js"></script>
  <script src="js/controllers/MembersCtrl.js"></script>


  </body>
</html>
