<div ng-controller="MainCtrl">
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ">
                  <img ng-src="img/ma-coding-club-flag.png">
            </div>
            <div class="col-md-8 pull-left">
              <h1>Massachusetts Coding Club</h1>
              <p>Our mission is to create real masters in programming so they can find great job into software industry,
                  or even better create their own business.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
